<h2>Learn Angular 19 - Tutorial 1</h2>
<h4>Les12: Routing Overview</h4>
<a href="https://angular.dev/guide/routing">*routing in the in-depth guide</a><br>
<a href="https://angular.dev/guide/routing/common-router-tasks#defining-a-basic-route">*defining a basic route in the
    in-depth guide</a><br>
<a href="https://angular.dev/guide/routing/common-router-tasks#add-your-routes-to-your-application">*adding routes to
    your application in the in-depth guide</a><br>
<nav>
    <a routerLink="/">Home</a> |
    <a routerLink="/les1">Lesson 2</a> |
    <a routerLink="/les3">Lesson 3</a> |
    <a routerLink="/les4">Lesson 4</a> |
    <a routerLink="/les5">Lesson 5</a> |
    <a routerLink="/les6">Lesson 6</a> |
    <a routerLink="/les7">Lesson 7</a> |
    <a routerLink="/les8">Lesson 8</a> |
    <a routerLink="/les9">Lesson 9</a> |
    <a routerLink="/les10">Lesson 10</a> |
    <a routerLink="/les11">Lesson 11</a> |
</nav>
<section>
    <router-outlet />
</section>