<h2>Learn Angular 19 - Tutorial 1</h2>

<a href="https://angular.dev/tutorials/learn-angular">Learn Angular in your browser - Current titorial</a><br>
<a href="https://angular.dev/tutorials">Other Tutorials</a><br>
<p><b>
        This interactive tutorial will teach you the basic building blocks to start building great apps with Angular.
    </b>
</p>
1. Component's decorator properties <br>
2. HTML templates - interpolation - You can use this syntax to put dynamic text, call functions, write expressions and
more.<br>
3. Reference one component in another (see app.component code & template).<br>
4. Deciding what to display: Conditional control Flow in Components - a-if a-else (Angular template syntax) v17+<br>
5. Repeat some template code - Control Flow in Components - a-for<br>
6. Property binding in templates: dataClass properties: set values for properties and attributes of html elements,
Angular components and more.<br>
7. Event handling (& responding to user actions)<br>
8. a-Input: sending data into a component (from parent to child, using attributes of child component)<br>
9. a-Output: event communication with parent component (emitting events or sending data to parent component using events
& event subscriptions)<br>
10. Deferrable views - how to defer load a section of your component template<br>
11. Optimizing images - NgOptimizedImage<br>
12, 13. Routing Overview<br>
14. Forms - template-driven approach & "banana in a box"<br>
15. Forms - Reactive Forms<br>
16. Validating forms<br>
17. Services - Creating an injectable service<br>
18. Pipes<br>
19. Pipes with parameters (Formatting data with pipes)<br>
20. Pipes - Create a custom pipe<br>

<h4>Les12: Routing Overview</h4>
<a href="https://angular.dev/guide/routing">*routing in the in-depth guide</a><br>
<a href="https://angular.dev/guide/routing/common-router-tasks#defining-a-basic-route">*defining a basic route in the
    in-depth guide</a><br>
<a href="https://angular.dev/guide/routing/common-router-tasks#add-your-routes-to-your-application">*adding routes to
    your application in the in-depth guide</a><br>
<br>
<nav>
    <a routerLink="/">Home</a> |
    <a routerLink="/les1">Lesson 2</a> |
    <a routerLink="/les3">Lesson 3</a> |
    <a routerLink="/les4">Lesson 4</a> |
    <a routerLink="/les5">Lesson 5</a> |
    <a routerLink="/les6">Lesson 6</a> |
    <a routerLink="/les7">Lesson 7</a> |
    <a routerLink="/les8">Lesson 8</a> |
    <a routerLink="/les9">Lesson 9</a> |
    <a routerLink="/les10">Lesson 10</a> |
    <a routerLink="/les11">Lesson 11</a> |
    <a routerLink="/les14">Lesson 14</a> |
    <a routerLink="/les15">Lesson 15</a> |
    <a routerLink="/les16">Lesson 16</a> |
    <a routerLink="/les17">Lesson 17</a> |
    <a routerLink="/les18">Lesson 18</a> |
    <a routerLink="/les19">Lesson 19</a> |
    <a routerLink="/les20">Lesson 20</a> |
</nav>
<section>
    <router-outlet />
</section>